/* 設定字體 ================================================================== */
/* 去google雲端字體import */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&family=Righteous&display=swap');

/* font-family: 'Noto Sans TC', sans-serif; 中文
  font-family: 'Righteous', 'cursive'; 英文
  font-family: 'Righteous', 'Noto Sans TC', sans-serif; 英中文
   */

/* 設定變數 ===================================================================== */
/* root也就是所有區域的色票碼/字體 */
:root {
}

/* 跨區整體的設定=========================================== */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* sec1 區域 ===============================================*/
/* sec2 區域 ===============================================*/
/* sec3 區域 ===============================================*/
/* sec4 區域 ===============================================*/
/* sec5 區域 ===============================================*/
/* sec6 區域 ===============================================*/
/* sec7 區域 ===============================================*/
/* footer 區域 ===============================================*/